<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Fixed Menu Example - Semantic</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>


    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
        }

        .wireframe {
            margin-top: 2em;
        }

        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>

</head>

<body>

    <div class="ui inverted segment">
        <div class="ui container inverted secondary pointing menu">
            <a class="item" href="/home">Home</a>
            <a class="item">About</a>
            <div class="right item">
                <i class="big user circle icon"></i>
            </div>
        </div>
    </div>

    <div class="ui main container">
        <h1 class="ui header">Intelligent Assist</h1>
        <div class="ui raised segment">
            <a class="ui blue ribbon label">Personal Details</a>
        <table class="ui striped table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Gender</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= input.firstName + " " + input.lastName %></td>
                <td><%= input.dob %></td>
                <td><%= input.gender %></td>
              </tr>
              
            </tbody>
          </table>
        </div>
          <div class="ui raised segment">
            <a class="ui blue ribbon label">Case Details</a>
            <%= input.claim %>
          </div>
          <div class="ui raised segment">
            <a class="ui blue ribbon label">Evidences</a>
            <%= input.evidences %>
          </div>
          
        <div class="ui raised segment">
            <a class="ui orange ribbon label">Suggestions</a>
            <div class="ui one column padded very relaxed grid">
                <div class="column">
                    <h1 class="ui header">Need help with Tribunals, Courts and Enforcement Act 2007?</h1>
                    <br>
                    <form class="ui form" action="/case/act/results" method="post">
                        <div class="ui fluid action input">
                            <input id="searchQuery" name="query" type="text" placeholder="Search sections and schedules...">
                            <button class="ui blue icon button" type="submit">
                                <label for="searchQuery" class="ui blue button">
                                    <i class="wizard icon"></i>
                                       Search
                                 </label>
                              </button>
                          </div>
                    </form>
                </div>
                <!-- <div class="column">
                    <h1 class="ui header">Search placeholder</h1>
                    <br>
                </div> -->
    
            </div>
        <div class="ui one column padded very relaxed grid">
            <div class="column">
                <h1 class="ui header">Similar past appeals</h1>
                <br>
                <div class="ui relaxed divided items">
                    <% for(const item of appeals) { %>
                    <div class="item">
                        <div class="ui small image">
                            <img src="/assets/appeals-icon.png">
                        </div>
                        <div class="content">
                            <a class="header"><%= item.key %></a>
                            <div class="meta">
                                <a><%= item.decision %></a>
                            </div>
                            <div class="description">
                                <%= item.summary %>
                            </div>
                            <div class="extra">
                                <form action="/history/home" method="post">
                                    <input type="hidden" name="key" value="<%= item.key %>">
                                <button class="ui right floated primary button">
                                    Investigate Further
                                    <i class="right chevron icon"></i>
                                </button>
                            </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <!-- <div class="column">
                <h1 class="ui header">Search placeholder</h1>
                <br>
            </div> -->

        </div>
        <!-- <div class="ui vertical divider">
            and
        </div> -->
    </div>
    </div>
    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Links</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Home</a>
                        <a href="#" class="item">About</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Copyright</h4>
                    <p>Copyright and license information</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img src="/assets/logo.png" class="ui centered tiny circular image">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Site Map</a>
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
    <script>
        $('.ui.dropdown').dropdown();
        $('#dobpicker').calendar({
            type: 'date'
        });
    </script>
</body>

</html>